<p class="notice"><%= notice %></p>


<h1>Product <%= @product.id %></h1>

<p><%= @product.sku %></p>
<p><%= @product.name %></p>
<p><%= @product.description %></p>

<%= link_to 'Back to Products', products_path %>